# Идентификатор и вендор роутера (решают вашу ошибку с путями)
CONFIG_FIRMWARE_PRODUCT_ID="WT3020"
CONFIG_FIRMWARE_VENDOR="NEXX"

# Базовые параметры архитектуры
CONFIG_LINUX_KERNEL_3_4=y
CONFIG_BOARD_MT7620N=y
CONFIG_RT2880_DRAM_64M=y

# ВАЖНО: Разметка Flash-памяти для чипа 16MB
CONFIG_RT2880_FLASH_16M=y
# CONFIG_RT2880_FLASH_8M не установлен

# Включение USB и файловых систем
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FAT=y
CONFIG_FIRMWARE_ENABLE_NTFS=y

# Сетевые службы и приложения
CONFIG_FIRMWARE_ENABLE_SAMBA=y
CONFIG_FIRMWARE_ENABLE_FTP=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_IPV6=n

# Опции RAM
CONFIG_FIRMWARE_BOOT_RAM_128M=y
